.pagination-main{
    .page-nation{
        border-radius:0px;
        float: left;
        margin-bottom: 20px;
        .pagination{
            margin: 0px;
            border-radius:0px;
            display: flex;
        }
        .pagination > li:first-child > a, .pagination > li:first-child > span{
            border-radius:0px;
        }
        .pagination > li:last-child > a, .pagination > li:last-child > span{
            border-radius:0px;
        }
        .pagination > li > a, .pagination > li > span{
            color:var(--text-normal-color);
            border: none;
        }

        .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li:active, .pagination > li > span:focus{
            color: var(--primary-color);
        }
        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
            background:var(--primary-color)!important;
            color: var(--white-color) !important;
            border-radius: 0.35rem;
        }
    }
}